table{
    border-color: black;
    border-style:double;
    border-width: 1px;
}
td{
    border: black;
    border-style: double;
    border-width: 1px;
    width: 100px;
    text-align: center;
    margin: 1px;
    padding: 1px;
}
body{
    color: black;
    background-color:white;
}