@{
    ViewData["Title"] = "My Page  AXXXXXX AXXXXXX";

}

<div>
    <!--<h1>@ViewData["Title"]</h1><br />  -->
    <h3>@ViewData["Name"]<br></h3>
    <br>
    @Html.ActionLink("Go my Show Page", "Show") <br />
    <a href="~/Home/AnotherWay1">Another Way 1 (/Home/AnotherWay1)</a><br />
    <a href="~/Home/AnotherWay2">Another Way 2 (/Home/AnotherWay2)</a><br />
    <a href="~/Home/DoService">DoService (/Home/DoService)</a><br />

    <a href="~/Home/Calc?a=100&b=50">(/Home/Calc?a=100&b=50)</a><br />
    <a href="~/Home/Calc?a=2">(/Home/Calc?a=2)</a><br />
    <a href="~/Home/Calc?b=8">(/Home/Calc?b=8)</a><br />
    <a href="~/Home/Calc">(/Home/Calc)</a><br />

    <a href="~/Home/Avg?a=30&b=10">(/Home/Avg?a=30&b=10)</a><br />
    <a href="~/Home/Avg?a=30">(/Home/Avg?a=30)</a><br />
    <a href="~/Home/Avg?b=10">(/Home/Avg?b=10)</a><br />
    <a href="~/Home/Avg">(/Home/Avg)</a><br />


    <a href="~/Home/Hello?Name=ArtemKr">(/Home/Hello?Name=ArtemKr)</a><br />
    <a href="~/Home/Hello">(/Home/Hello)</a><br />

    <a href="~/Home/ContentBack">(/Home/ContentBack)</a><br />

    <a href="~/Home/Check">(/Home/Check)</a><br />
    <a href="~/Home/Check?id=2">(/Home/Check?id=2)</a><br />

    <a href="~/Home/isParameter?id=12">(/Home/isParameter?id=12)</a><br />
    <a href="~/Home/isParameter">(/Home/isParameter)</a><br />

    <a href="~/Home/DownloadJpegFile">(/Home/DownloadJpegFile) <b>(/Home/DownloadJpegFile)</b></a><br />
    <a href="~/Home/DownloadPngFile">(/Home/DownloadPngFile) <b>(/Home/DownloadPngFile)</b></a><br />


    <br />

</div>



