@model Chat.Models.Theme

@{
    ViewData["Title"] = "EditTheme";
}

<h1>EditTheme</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTheme">       
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="SectionFk" class="control-label"></label>
                @Html.DropDownList("SectionFk", new SelectList(ViewBag.SectionFk, "Id", "Name"), new { @class = "form-control" })
                <span asp-validation-for="SectionFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListThemes">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
