
@{
    ViewData["Title"] = "Josef";
    Layout = null;
}

    <div class="text-center">
        <h1 class="display-4">
            @ViewData["art"]
        </h1>
        <div>
                @ViewData["What"]
        </div>

        <p> @ViewData["about"] <a href="https://docs.microsoft.com/aspnet/core"> @ViewData["about"]</a>.</p>
    </div>
