@model HW9.Models.Appraisal

@{
    ViewData["Title"] = "CreateAppraisal";
}

<h1>CreateAppraisal</h1>

<h4>Appraisal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAppraisal">
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserStudentFk" class="control-label"></label>
                @Html.DropDownList("UserStudentFk", new SelectList(ViewBag.Student, "Id", "Name"), new { @class = "form-control" })
                <span asp-validation-for="UserStudentFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectFk" class="control-label"></label>
                @Html.DropDownList("SubjectFk", new SelectList(ViewBag.Subject, "Id", "Name"), new { @class = "form-control" })
                <span asp-validation-for="SubjectFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexAppraisal">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
