@model HW9.Models.Appraisal

@{
    ViewData["Title"] = "EditAppraisal";
}

<h1>EditAppraisal</h1>

<h4>Appraisal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAppraisal" asp-controller="Home" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentFk" class="control-label"></label>
                @Html.DropDownList("StudentFk", new SelectList(ViewBag.Student, "Id", "Name"), new { @class = "form-control", @selected = Model.Id })
                <span asp-validation-for="StudentFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectFk" class="control-label"></label>
                @Html.DropDownList("SubjectFk", new SelectList(ViewBag.Subject, "Id", "Name"), new { @class = "form-control", @selected = Model.Id })
                <span asp-validation-for="SubjectFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="listAppraisal">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
