<?xml version="1.0" encoding="UTF-8"?>


<web-app>
  <filter>
    <filter-name>Starter</filter-name>
    <filter-class>filters.Starter</filter-class>
  </filter>
  
  <filter>
    <filter-name>ModeratorFilter</filter-name>
    <filter-class>filters.ModeratorFilter</filter-class>
  </filter>

  <filter>
    <filter-name>CabinetFilter</filter-name>
    <filter-class>filters.CabinetFilter</filter-class>
  </filter>
  
   <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>filters.AdminFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>Starter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>ModeratorFilter</filter-name>
    <url-pattern>/moder/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>CabinetFilter</filter-name>
    <url-pattern>/cabinet</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin</url-pattern>
  </filter-mapping>
  
</web-app>