@model HW8_DB_.Models.Order

@{
    ViewData["Title"] = "EditOrder";
}

<h1>EditOrder</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditOrder">
            <div class="form-group">
                <label asp-for="UserFk" class="control-label"></label>
                <input asp-for="UserFk" class="form-control" />
                <span asp-validation-for="UserFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductFk" class="control-label"></label>
                <input asp-for="ProductFk" class="form-control" />
                <span asp-validation-for="ProductFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

