@model Chat.Models.Section

@{
    ViewData["Title"] = "CreateSection";
}

<h1>CreateSection</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSection" asp-controller="Home" method="post">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpenUser" class="control-label"></label>
                @Html.DropDownList("OpenUser", new SelectList(ViewBag.OpenUser, "Id", "Name"), new { @class = "form-control" })
                <span asp-validation-for="OpenUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListSection" asp-controller="Home">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
