body {
    position: relative;
}

#container {
    margin: 0 0 0 250px;
    border: 2px solid greenyellow;
    background: black;
    color: blanchedalmond;
    box-shadow: 5px 5px 1px indigo;
    max-width: 70vw;
    min-height: 50vw;

    
    position: absolute;
}

#container span {
    margin: 10px 0 0 10px;
}

#container input {
    margin: 10px 0 0 10px;
}

#container div{
    border: 2px solid green;
    background: indigo;
    height: 30vw;
    width: 60%;
    margin: auto;
    overflow: auto;
}

#container div p{
    margin: 10px;
}

#container b{
    display: block;
    margin: 10px;
}
#container textarea{
    margin: 10px;
    height: 15vw;
    width: 80%;
}
#container button{
    margin: 10px;
    display: block;

}

#users{
    width: 200px;
    height: 50vh;
    position: absolute;

    left: 5px;
    top: 75px;
    border: 2px solid blue;
}

