
@{
    ViewData["Title"] = "Contact";
}

<div style="text-align:center" class="active">
    <h3>Artem Krol LTD corp</h3>
    <p>Tel: +972547285882</p>
    <p>Email : Artem_krol@hotmail.com</p>
</div>

