
    <div style="text-align:center">
        <h1 class="display-4"> @ViewData["Title"] Page </h1>

        <p>about my <a class="nav-link text-black-50"  asp-area="" asp-controller="Home" asp-action="Contact">Artem Krol with ASP.NET Core</a></p>
    </div>


