
@{
    ViewData["Title"] = "Product";
}

    <table style="font-size:20px">
        <tr>
            <td>
                <a class="text-black-50" href="~/Home/MyProduct?a=/a.jpg">
                    <table>
                        <tr>
                            <td colspan="2">@ViewData["Title"] 1 </td>
                        </tr>
                        <tr>
                            <td>Name : </td>
                            <td>Lexus </td>
                        </tr>
                        <tr>
                            <td colspan="2"><img style="width:300px" src="~/a.jpg" /></td>
                        </tr>
                        <tr>
                            <td colspan="2"> maia lubimaia mashina  </td>
                        </tr>
                        <tr>
                            <td>Zena : </td>
                            <td> 220K  </td>
                        </tr>
                    </table>
                </a>
            </td>
            <td>
                <a  class="text-black-50" href="~/Home/MyProduct?a=/b.jpg">
                    <table>
                        <tr>
                            <td colspan="2">@ViewData["Title"] 2</td>
                        </tr>
                        <tr>
                            <td>Name : </td>
                            <td>Lexus </td>
                        </tr>
                        <tr>
                            <td colspan="2"><img style="width:300px" src="~/b.jpg" /></td>
                        </tr>
                        <tr>
                            <td colspan="2"> maia lubimaia mashina  </td>
                        </tr>
                        <tr>
                            <td>Zena : </td>
                            <td> 280K  </td>
                        </tr>
                    </table>
                </a>
            </td>
            <td>
                <a  class="text-dark" href="~/Home/MyProduct?a=/c.jpg">
                    <table>
                        <tr>
                            <td colspan="2">@ViewData["Title"] 3 </td>
                        </tr>
                        <tr>
                            <td>Name : </td>
                            <td>Lexus </td>
                        </tr>
                        <tr>
                            <td colspan="2"><img style="width:300px" src="~/c.jpg" /></td>
                        </tr>
                        <tr>
                            <td colspan="2">maia lubimaia mashina  </td>
                        </tr>
                        <tr>
                            <td>Zena : </td>
                            <td> 220K  </td>
                        </tr>
                    </table>
                </a>
            </td>
        </tr>
    </table>

