/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 22, 2021, 12:08:31 AM
    Author     : artem
*/

.wrap-dtl {
    background: lightgreen;
    border-radius: 15px;
    padding: 2vh 2vw;
    margin: 3vh auto;

    width: 90vw; 
}
.wrap-dtl img {
    float: left;
    max-width: 25vw;
    margin-right: 2vh
}
.wrap-dtl p {
    font-size: large;
}
.clear {
    clear : both;
}

.wrap-comments {
    padding: 2vh 2vw;
    margin: 3vh auto;
    width: 90vw
}


