[user]
	name = Artem Krol
	email = artemkrol47@gmail.com

[branch]
	autosetupmerge = true

[branch "master"]
	remote = origin
	merge = refs/heads/master

[color]
	ui = auto
	[color "branch"]
		current = yellow reverse
		local = yellow
		remote = green
	[color "diff"]
		meta = yellow bold
		frag = magenta bold
		old = red bold
		new = green bold
		whitespace = red reverse
	[color "status"]
		added = yellow
		changed = green
		untracked = cyan

[core]
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol

[diff]
	tool = tortoisediff
[difftool]
	prompt = false
[merge]
	ff = false
	tool = tortoisemerge
[mergetool]
	prompt = false
	keepBackup = false
[difftool "tortoisediff"]
	cmd = \""C:/Program Files/TortoiseGit/bin/TortoiseGitMerge.exe"\" -mine:"$REMOTE" -base:"$LOCAL"
[mergetool "tortoisemerge"]
	cmd = \""C:/Program Files/TortoiseGit/bin/TortoiseGitMerge.exe"\" -base:"$BASE" -theirs:"$REMOTE" -mine:"$LOCAL" -merged:"$MERGED"

[alias]
 	st = status
	sts = status -s
	a = !git add . && git status -s
	aa = !git add :/ && git status -s

	c = commit
	ac = !git add . && git status -s && git commit
	aac = !git add :/ && git status -s && git commit

	cm = commit
	acm = !git add . && git status -s && git commit
	aacm = !git add :/ && git status -s && git commit

	co = checkout
	df = diff
	dfc = diff --cached
	br = branch
	brd = branch -D
	mg = merge
	mgnff = merge --no-ff

	purge = clean -f -d -x
	purgeall = clean -f -d -x :/
	hist = log --color --graph --pretty=format:\"%C(yellow)%h %C(white)%ad | %C(bold white)%s%C(auto)%d %C(blue)[%an]\" --date=format:\"%F %T\"


;[diff]
;	tool = kdiff3
;[difftool "kdiff3"]
;	path = C:/Program Files/TortoiseHg/lib/kdiff3.exe
;[difftool]
;	prompt = false
;	keepBackup = false
;	trustExitCode = false
;[merge]
;	tool = kdiff3
;[mergetool]
;	prompt = false
;	keepBackup = false
;	keepTemporaries = false
;[mergetool "kdiff3"]
;	path = C:/Program Files/TortoiseHg/lib/kdiff3.exe


[credential]
	helper = wincred

[bitbucket]
	user = ivanpetrov
	token = 123456
[github]
	user = Artem Krol
	token = f07440a26cf6b7688492ca1bc4afe5f4cca7c1de
[gitlab]
	user = ivanpetrov
	token = 345678
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
